.main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade-in linear both;
    animation-delay: 500ms;
    animation-duration: 300ms;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact_button {
    margin-top: 1.25rem;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.contact_button:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.subtitles {
    font-size: 1rem;
    text-align: center;
}

.profile_photo {
    border-radius: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
