.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_container {
    width: 1024px;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content_container section {
    margin-bottom: 32px;
}
