.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content_container {
  width: 1024px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content_container section {
  margin-bottom: 32px;
}

.content_container section:not(:first-child) {
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 40% cover 50%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
