---
import Navbar from "../navbar/navbar.astro";
import styles from "./header.module.css";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<header class={styles.main_container}>
  <div class={styles.content_container}>
    <a href="#inicio" class={styles.name_link}>MG </a>
    <Navbar lang={lang} />
  </div>
</header>
