.main_container {
  display: flex;
  margin-inline: auto;
  gap: 3rem;
}

.main_container::after {
  background: linear-gradient(to right, Canvas 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 120px;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.main_container::before {
  background: linear-gradient(to left, Canvas 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 120px;
  z-index: 10;
  bottom: 0;
  right: 0;
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  animation: scrolling 50s linear infinite;
}

.logo_container {
  display: flex;
  height: 110px;
  width: 100px;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

.logo {
  height: 40px;
}

.label {
  font-size: 1rem;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}

.logo_container:hover .label {
  transform: translateY(0);
  opacity: 1;
}

@media (width < 700px) {
  .main_container {
    gap: 0.5rem;
  }

  .slider {
    margin: 0;
    gap: 0.5rem;
  }

  .logo_container {
    height: 120px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .label {
    font-size: 0.75rem;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
